<div class="jumbotron">
  <h1>File Share</h1>
  <p>We let you imagine a world before <%= link_to 'Google Drive', 'http://drive.google.com' %> or <%= link_to 'DropBox', 'http://dropbox.com' %>.</p>
  <p>Send big files by email. Do you want to share a file with someone?</p>
  <p>
    <%= link_to 'Yes &raquo;'.html_safe, new_package_path, class: 'btn btn-lg btn-primary' %>
  </p>
</div>
