<div class="jumbotron">
  <h1>File Share</h1>
  <p>We let you imagine a world before <%= link_to 'Google Drive', 'http://drive.google.com' %> or <%= link_to 'DropBox', 'http://dropbox.com' %>.</p>
  <p>Share files by email link. Do you want to share a file with someone?</p>
  <p>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Yes &raquo;</a>
  </p>
</div>
