<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <a class="navbar-brand" href="/">File Share</a>
  <ul class='nav navbar-nav'><li><li><%= link_to 'New Package', new_package_path %></li></li></ul>
</nav>