<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @package.user_name %> has shared a file with you.</h1>
    
    <div>
      <p>
        <%= @package.message %>
      </p>
    </div>
    <p>
      <% binding.pry %>
      <%= link_to 'You can download them here', controller: 'packages', action: 'show', :host => "fileshare.herokuapp.com", id: @package.id, token: @token %>
    </p>
    <p>These files will remain available for the next 72 hours, after which they will be deleted."</p>
  </body>
</html>
