<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @package.user_name %> has shared a file with you.</h1>
    
    <div>
      <p>
        The recipient has downloaded some of your files.
      </p>
      <p>The package will be removed in <%= @package.hours_left %> hours.</p>
    </div>
    
  </body>
</html>
